@charset "UTF-8";
.title {
    font-weight: bold;
    text-align: center;
    padding: 0 0 5px;
    font-size: 120%;
}
.mdui-list-dense .mdui-list-item-avatar1 {
    width: 70px;
    min-width: 70px;
    height: 90px;
    min-height: 90px;
    margin-right: 10px
}
.read-body {
	color: #2e343f;
    margin: 0px;
    padding: 0px;
    font-family: "Microsoft YaHei",sans-serif;
    font-size: 16px;
    background-color:#E6E0D0;
    line-height: 1.7
}