<#-- 引入布局指令的命名空间 -->
<#import "./layout/default.html" as main>
<#assign ctx=req.getContextPath()>
<#-- 调用布局指令 -->
<@main.default>
<div class="mdui-card" style="padding-top: 20px">
<div class="mdui-row">
	<div class="mdui-col-xs-3"><img src="${b.cover}" style="width: 90px;height: 120px;margin-left: 15px"/></div>
	<div class="mdui-col-xs-8" style="max-height: 120px;margin-left: 15px">
	<div class="mdui-typo-body-1">
		<h3 style="line-height:9px">${b.name}</h3>
		<p style="line-height:9px">作者：${b.author}</p>
		<p style="line-height:9px">分类：${b.categoryName}</p>
		<p style="line-height:9px">状态：${b.status}</p>
		<#assign lastChapterUpdateTime="${b.lastChapterUpdateTime*1000}"/>
		<p  style="line-height:9px">更新：${lastChapterUpdateTime?number?number_to_datetime?string("MM-dd HH:mm:ss")!""}</p>
	</div>
	</div>
</div>
  <!-- 卡片的内容 -->
  <div class="mdui-card-content" title="${b.shortSummary}">${b.shortSummarySub}</div>
  <!-- 卡片的按钮 -->
  <div class="mdui-card-actions" style="margin-left: 8px">
   <button class="mdui-btn mdui-ripple mdui-ripple-green mdui-color-blue-a200" onclick="location.href='${ctx}/c/${b.lastId}'">开始阅读</button>
   <button class="mdui-btn mdui-ripple mdui-ripple-green mdui-color-deep-purple" onclick="location.href='http://downnovel.com/search.htm?keyword=${b.name}'">全文下载</button>
  </div>
</div>
<div class="mdui-list mdui-list-dense">
  <a href="#" class="mdui-list-item mdui-ripple" style="font-size: 16px;font-weight: bolder;">${b.name}最新章节</a>
 <#list b.chapters as chapter>
 	<a href="${ctx}/c/${chapter.id}" class="mdui-list-item mdui-ripple">${chapter.name}</a>
 	<li class="mdui-divider"></li>
 </#list>
</div>
<button class="mdui-btn mdui-btn-block mdui-btn-raised" onclick="location.href='${ctx}/b/catalog/${b.id}'">查看目录 <i class="fa fa-angle-right"></i></button>
</@main.default>
