<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<head>
	<#assign ctx=req.getContextPath()>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
	<meta name="renderer" content="webkit"/>
	<meta name="force-rendering" content="webkit"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
	<link rel="stylesheet" href="${ctx}/css/main.css"/>
	<title>憨憨小说网_无广告_最新章节</title>
</head>
<body class="mdui-theme-primary-white">
	<header class="mdui-appbar">
	    <div class="mdui-toolbar mdui-color-theme">
			<a href="${ctx}/" class="mdui-typo-title">憨憨小说网</a>
			<div class="mdui-toolbar-spacer"></div>
			<!-- <a href="javascript:;" class="mdui-btn mdui-btn-icon"><i class="mdui-icon material-icons">search</i></a> -->
		</div>
		<div class="mdui-tab" mdui-tab>
		  <a href="#all-books" class="mdui-ripple">所有书籍</a>
		  <!-- <a href="#example1-tab2" class="mdui-ripple">我的书架</a>
		  <a href="#example1-tab3" class="mdui-ripple">发现</a> -->
		</div>
		<div id="all-books" class="mdui-p-a-2">
			<ul class="mdui-list">
			  <#list list as b>
				  <li class="mdui-list-item" onclick="window.location.href='${ctx}/b/detail/${b.id}'">
				    <div class="mdui-list-item-content">
				      <div class="mdui-list-item-title">${b.name}</div>
				      <div class="mdui-list-item-text mdui-list-item-one-line">
				      	${b.author}
				      </div>
				      <div class="mdui-list-item-text mdui-list-item-one-line">
				      	${b.lastChapterName}
				      </div>
				      <div class="mdui-list-item-text mdui-list-item-one-line">
				      	${b.timeF}
				      </div>
				    </div>
				  </li>
			  </#list>
  			</ul>
        </div>
		
		<!-- 
		
		
			<#list list as b>
				<div class="mdui-row">
					<div class="mdui-col-xs-3"><img src="${b.cover}" style="width: 60px;height: 80px;margin-left: 15px"/></div>
					<div class="mdui-col-xs-8" style="max-height: 80px;margin-left: 20px">
					
					</div>
				</div>
				<img src="${b.cover}" style="width: 60px;height: 80px;margin-left: 15px"/>
					<div class="mdui-typo-body-1">
						<h4 style="line-height:7px">${b.name}</h4>
						<p style="line-height:7px">${b.author} | ${b.categoryName} | ${b.status}</p>
						<p style="line-height:7px">${b.lastChapterName}</p>
						<#assign lastChapterUpdateTime="${b.lastChapterUpdateTime*1000}"/>
						<p  style="line-height:7px">更新：${lastChapterUpdateTime?number?number_to_datetime?string("MM-dd HH:mm:ss")!""}</p>
					</div>
			</#list> -->
		</div>
	  </header>
		<!-- <div id="example1-tab2" class="mdui-p-a-2">我的书架</div>
		<div id="example1-tab3" class="mdui-p-a-2">发现</div> -->
	<script src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"></script>
    <script src="${ctx}/js/main.js"></script>
</body>
</html>