<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
  	<#assign ctx=req.getContextPath()>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"/>
    <link rel="stylesheet" href="${ctx}/css/main.css"/>
    <title>${c.name}-${c.author}-${c.bookName}-憨憨小说网</title>
  </head>
  <body class="read-body">
	  <header class="mdui-appbar">
	    <div class="mdui-typo mdui-toolbar">
	    	<a href="${ctx}/" class="reset">首页</a>
	    	<a href="${ctx}/b/catalog/${c.bookId}">目录</a>
	    	<!-- <a href="javascript:restoreMode()" id="changeModeA">夜间模式</a> -->
			<div class="mdui-toolbar-spacer"></div>
			<a href="javascript:void(0)" style="font-size:16px;" onclick="setFontSize(16)">A</a>|
			<a href="javascript:void(0)" style="font-size:20px;" onclick="setFontSize(20)">A</a>|
			<a href="javascript:void(0)" style="font-size:24px;" onclick="setFontSize(24)">A</a>
		</div>
	  </header>
	<div class="mdui-container-fluid">
		<div class="mdui-typo-body" style="font-size: <#if isMobile>20px<#else>16px</#if>; padding-top: 5px;">
			<div class="title">${c.name}</div>
			${c.content}
		</div>
  	</div>
  	<div class="mdui-bottom-nav">
	  <a href="${ctx}/c/last/${c.index}?bId=${c.bookId}" class="mdui-ripple mdui-bottom-nav-active">
 		<i class="mdui-icon material-icons">navigate_before</i>
	    <label>上一章</label>
	  </a>
	  <a href="${ctx}/b/catalog/${c.bookId}" class="mdui-ripple mdui-bottom-nav-active">
 		<i class="mdui-icon material-icons">list</i>
	    <label>目录</label>
	  </a>
	  <a href="${ctx}/c/next/${c.index}?bId=${c.bookId}" class="mdui-ripple mdui-bottom-nav-active">
 		<i class="mdui-icon material-icons">navigate_next</i>
	    <label>下一章</label>
	  </a>
	</div>
    <script
      src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
      integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
      crossorigin="anonymous"
    ></script>
    <script src="${ctx}/js/main.js"></script>
  </body>
</html>