<!doctype html>
<html lang="zh-cmn-Hans">
  <head>
  	<#assign ctx=req.getContextPath()>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no"/>
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>

    <!-- MDUI CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/css/mdui.min.css"
      integrity="sha384-cLRrMq39HOZdvE0j6yBojO4+1PrHfB7a9l5qLcmRm/fiWXYY+CndJPmyu5FV/9Tw"
      crossorigin="anonymous"
    />
    <style>
    .title {
	    font-weight: bold;
	    text-align: center;
	    padding: 0 0 20px;
	    font-size: 120%;
	}
    </style>
    <title>电子书屋</title>
  </head>
  <body class="mdui-bottom-nav-fixed">
	  <header class="mdui-appbar mdui-appbar-fixed">
	    <div class="mdui-toolbar mdui-color-white">
	    	<a href="${ctx}/">首页</a>
	    	<a href="${ctx}/">目录</a>
	    	<a href="${ctx}">夜间模式</a>
			<div class="mdui-toolbar-spacer"></div>
			<a href="javascript:void(0)" style="font-size:16px;" onclick="setFontSize(16)">A</a>|
			<a href="javascript:void(0)" style="font-size:20px;" onclick="setFontSize(20)">A</a>|
			<a href="javascript:void(0)" style="font-size:24px;" onclick="setFontSize(24)">A</a>
		</div>
	  </header>
	<div class="mdui-container-fluid mdui-color-grey-100">
		<div class="mdui-typo-body" style="font-size: 20px; padding-top: 100px;">
			<div class="title">${c.name}</div>
			${c.content}
		</div>
  	</div>
  	<div class="mdui-bottom-nav mdui-color-white">
	  <a href="javascript:;" class="mdui-ripple">
 		<i class="mdui-icon material-icons">navigate_before</i>
	    <label>上一章</label>
	  </a>
	  <a href="javascript:;" class="mdui-ripple mdui-bottom-nav-active">
 		<i class="mdui-icon material-icons">list</i>
	    <label>目录</label>
	  </a>
	  <a href="javascript:;" class="mdui-ripple">
 		<i class="mdui-icon material-icons">navigate_next</i>
	    <label>下一章</label>
	  </a>
	</div>
    <script
      src="https://cdn.jsdelivr.net/npm/mdui@1.0.1/dist/js/mdui.min.js"
      integrity="sha384-gCMZcshYKOGRX9r6wbDrvF+TcCCswSHFucUzUPwka+Gr+uHgjlYvkABr95TCOz3A"
      crossorigin="anonymous"
    ></script>
    <script type="text/javascript">
    var $ = mdui.$;
    function setFontSize(size){
    	$(".mdui-typo-body").attr("style","font-size: "+size+"px; padding-top: 100px");
    }
    </script>
  </body>
</html>